:root {
    --clr-primary: #651fff;
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
  }
  
  * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--clr-gray);
    margin: 1rem;
    background: black;

  }
  
  .wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
  }
  
  .container {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
  }
  
  .profile-img{
      width: 100%;
      height: auto;

  }

   @media screen and (max-width: 500px) {
      .container{
          padding: 0px 20px;
      }

      .container img{
          width: 100%;
          height: auto;
      }
  }

  